<html>
	<head>
		<title>admin panel home</title>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
		{% block styles %}
		{% endblock %}

	</head>

	<body>
		<div class="row">
			<div class="col-xs-12">
				<h1>{{ factory.address }}</h1>
			</div>
		</div>
		<section id="content-section">
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</section>

		<section id="section-scripts">
			<script src="{% static 'libs/jquery.min.js' %}"></script>
			{% block scripts %}
			{% endblock %}
		</section>
		<div class="row">
			<div class="col-xs-12">
				<hr />
			</div>
		</div>

	</body>
</html>