{% extends "base.html" %}

{% load static %}

{% block styles %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/adding.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<a href="{% url 'admin_panel:factoryDetails' factory.id %}">factory details</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			employee details
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form action="{% url 'admin_panel:updateEmployee' employee.id %}" method="post">
			{% csrf_token %}
				<table>
					<tr>
						<td>first name</td>
						<td>
							<input name="firstname" value="{{ employee.firstname }}" />
						</td>
					</tr>
					<tr>
						<td>last name</td>
						<td>
							<input name="lastname" value="{{ employee.lastname }}" />
						</td>
					</tr>
					<tr>
						<td>email</td>
						<td>
							<input name="email" value="{{ employee.email }}" />
						</td>
					</tr>
					<tr>
						<td>phone</td>
						<td>
							<input name="phone" value="{{ employee.phone }}" />
						</td>
					</tr>
				</table>
				<br />
				<input type="submit" value="update" />
			</form>
		</div>


		<div class="col-xs-12">
			<form action="{% url 'admin_panel:removeEmployee' factory.id employee.id %}" method="post">
			{% csrf_token %}
				<input type="submit" value="remove" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>entitlements</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for entitlement in empoyeeEntitlements %}
						<div class="col-xs-6 cols-sm-4 col-md-3 tile">
							{{ entitlement.name }}
							<br />
							<form action="{% url 'admin_panel:removeEntitlementFromEmployee' employee.id %}" method="post">
							{% csrf_token %}
								<input type="hidden" name="entitlement" value="{{ entitlement.id }}">
								<input type="submit" value="remove" />
							</form>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 cols-sm-4 col-md-3 tile">
			<p id="roll-adding-form-entitlement" class="roll-adding-form glyphicon glyphicon-plus"></p>
			<form id="adding-form-entitlement" class="adding-form" action="{% url 'admin_panel:addEntitlementToEmployee' employee.id %}" method="post">
			{% csrf_token %}
				<select name="entitlement">
					{% for entitlement in unusedEntitlements %}
						<option value="{{ entitlement.id }}">{{ entitlement.name }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="add" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			move to another factory:<br />
			<form id="move-employee" action="{% url 'admin_panel:moveEmployeeToAnotherFactory' employee.id %}" method="post">
			{% csrf_token %}
				<select name="factory">
					{% for otherFactory in otherFactories %}
						<option value="{{ otherFactory.id }}">{{ otherFactory.address }}</option>
					{% endfor %}
				</select>
				<br />
				<input type="submit" value="move" />
			</form>
		</div>
	</div>

{% endblock %}