{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'libs/jquery.cookie.min.js' %}"></script>
	<script src="{% static 'libs/chart.min.js' %}"></script>
	<script src="{% static 'js/analysis.js' %}"></script>
{% endblock %}

{% block content %}
	<input type="hidden" id="url-get-data" value="{% url 'admin_panel:getAnalysis' factory.id %}" />

	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<a href="{% url 'admin_panel:factoryDetails' factory.id %}">factory details</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			analysis
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12">
			select day:
			<select id="select-day">
				<option value="summary">summary</option>
				{% for report in reports %}
					<option value="{{ report.value }}">{{ report.readable }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<br />
	<div id="select-chart-wrapper" class="row">
		<div class="col-xs-12">
			select chart type:
			<select id="select-chart">
				<option value="sectors">sectors</option>
				<option value="employees">employees</option>
			</select>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col-xs-12">
			<canvas id="canvas-chart" width="500" height="500"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table border="1">
				<tr>
					<td>field</td>
					<td>value</td>
				</tr>
				<tr>
					<td>min</td>
					<td><span id="result-min"></span></td>
				</tr>
				<tr>
					<td>max</td>
					<td><span id="result-max"></span></td>
				</tr>
				<tr>
					<td>avegrage</td>
					<td><span id="result-avg"></span></td>
				</tr>
				<tr>
					<td>max difference</td>
					<td><span id="result-diff"></span></td>
				</tr>
			</table>
		</div>
	</div>

{% endblock %}