{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/factoryStream.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/factoryStream.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<a href="{% url 'admin_panel:factoryDetails' factory.id %}">factory details</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			factory stream
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div style="display: none" id="factory-id">{{ factory.id }}</div>
		</div>
		<div class="col-xs-12">
			<h2>change factory</h2>
			<ul>
				{% for otherFactory in otherFactories %}
					<li>
						<a href="{% url 'admin_panel:factoryStream' otherFactory.id %}">{{ otherFactory.address }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-12">
			<span>connection status: </span>
			<span id="connection-status">none</span>
			<input type="button" id="retry-button" value="retry" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<span id="clock-label"></span><br />
			<canvas id="clock"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<canvas id="map"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<h2>working employees</h2>
			<hr />
			<div id="working-employees-wrapper"></div>
		</div>
		<div class="col-xs-4">
			<h2>not working employees</h2>
			<hr />
			<div id="free-employees-wrapper"></div>
		</div>
	</div>
	<hr />
	

{% endblock %}