{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/factoryDetails.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/adding.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			factory details
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:factoryStream' factory.id %}">watch factory working</a>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:viewMap' factory.id %}">view map</a>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:factoryAnalysis' factory.id %}">factory analysis</a>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<form action="{% url 'admin_panel:updateFactory' factory.id %}" method="post">
			{% csrf_token %}
				<table>
					<tr>
						<td>address</td>
						<td>
							<input name="address" value="{{ factory.address }}" />
						</td>
					</tr>
					<tr>
						<td>working hours</td>
						<td><input type="number" min="1" max="24" name="workinghours" value="{{ factory.workinghours }}" /></td>
					</tr>
					<tr>
						<td>resting hours</td>
						<td><input type="number" min="1" max="24" name="restinghours" value="{{ factory.restinghours }}" /></td>
					</tr>
				</table>
				<br />
				<input type="submit" value="update" />
			</form>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<h2>machines</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for machine in machines %}
					<div class="col-xs-6 cols-sm-4 col-md-3	tile">
						<table>
							<tr>
								<td>name</td>
								<td>{{ machine.name }}</td>
							</tr>
							<tr>
								<td colspan="2">
									<a href="{% url 'admin_panel:machineDetails' machine.id %}">details</a>
								</td>
							</tr>
						</table>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-xs-6 cols-sm-4 col-md-3	tile">
					<p id="roll-adding-form-machine" class="roll-adding-form glyphicon glyphicon-plus"></p>
					<form id="adding-form-machine" class="adding-form" action="{% url 'admin_panel:addMachine' %}" method="post">
					{% csrf_token %}
						<table>
							<tr>
								<td>name</td>
								<td><input name="name" /></td>
							</tr>
							<tr>
								<td>working places</td>
								<td><input name="workingplaces" type="number" min="1" value="1" /></td>
							</tr>
						</table>
						<input type="hidden" name="factory" value="{{ factory.id }}" />
						<input type="submit" value="add" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<h2>employees</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for employee in employees %}
					<div class="col-xs-6 cols-sm-4 col-md-3	tile">
						<table>
							<tr>
								<td>first name</td>
								<td>{{ employee.firstname }}</td>
							</tr>
							<tr>
								<td>last name</td>
								<td>{{ employee.lastname }}</td>
							</tr>
							<tr>
								<td>email</td>
								<td>{{ employee.email }}</td>
							</tr>
							<tr>
								<td>phone</td>
								<td>{{ employee.phone }}</td>
							</tr>
							<tr>
								<td colspan="2">
									<a href="{% url 'admin_panel:employeeDetails' employee.id %}">details</a>
								</td>
							</tr>
						</table>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-xs-6 cols-sm-4 col-md-3	tile">
					<p id="roll-adding-form-employee" class="roll-adding-form glyphicon glyphicon-plus"></p>
					<form id="adding-form-employee" class="adding-form" action="{% url 'admin_panel:addEmployee' %}" method="post">
					{% csrf_token %}
						<table>
							<tr>
								<td>
									<span>first name</span>
								</td>
								<td>
									<input name="firstname" />
								</td>
							</tr>
							<tr>
								<td>
									<span>last name</span>
								</td>
								<td>
									<input name="lastname" />
								</td>
							</tr>
							<tr>
								<td>
									<span>email</span>
								</td>
								<td>
									<input name="email" />
								</td>
							</tr>
							<tr>
								<td>
									<span>phone</span>
								</td>
								<td>
									<input name="phone" />
								</td>
							</tr>
						</table>
						<input type="hidden" name="factory" value="{{ factory.id }}" />
						<input type="submit" value="add" />
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}