{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/adding.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2>factories</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for factory in factories %}
						<div class="col-xs-6 cols-sm-4 col-md-3 tile">
							<div class="row">
								<a href="{% url 'admin_panel:factoryDetails' factory.id %}">
									<div class="col-xs-12">
										{{ factory.address }} <br />
									</div>
								</a>
								<div id="remove-factory-{{factory.id}}" class="col-xs-12">
								<input type="button" value="remove" class="remove-factory-decide" id="remove-factory-decide-{{ factory.id }}" /><br />
									<form action="{% url 'admin_panel:removeFactory' factory.id %}" method="post" class="remove-factory-form" id="remove-factory-form-{{ factory.id }}">
									{% csrf_token %}
										<span>are you sure?</span><br />
										<input type="submit" value="yes" />
										<input type="button" value="no" class="remove-factory-cancel" id="remove-factory-cancel-{{ factory.id }}" /><br />
									</form>
								</div>
							</div>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 cols-sm-4 col-md-3 tile">
			<p id="roll-adding-form-factory" class="roll-adding-form glyphicon glyphicon-plus"></p>
			<form id="adding-form-factory" class="adding-form" action="{% url 'admin_panel:addFactory' %}" method="post">
			{% csrf_token %}
				<span>address</span><input name="address" /><br />
				<span>working hours</span><input type="number" min="1" max="24" name="workinghours" value="8" /><br />
				<span>resting hours</span><input type="number" min="1" max="24" name="restinghours" value="1" /><br />
				<input type="submit" value="add" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>entitlements</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for entitlement in entitlements %}
						<div class="col-xs-6 cols-sm-4 col-md-3 tile">
							<form method="post" action="{% url 'admin_panel:updateEntitlement' entitlement.id %}">
							{% csrf_token %}
								<input name="name" value="{{ entitlement.name }}" />
								<br />
								<input type="submit" value="update" />
							</form>
							<br />
							<form method="post" action="{% url 'admin_panel:removeEntitlement' entitlement.id %}">
							{% csrf_token %}
								<input type="submit" value="remove" />
							</form>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 cols-sm-4 col-md-3 tile">
			<p id="roll-adding-form-entitlement" class="roll-adding-form glyphicon glyphicon-plus"></p>
			<form id="adding-form-entitlement" class="adding-form" action="{% url 'admin_panel:addEntitlement' %}" method="post">
			{% csrf_token %}
				<span>name</span><input name="name" /><br />
				<input type="submit" value="add" />
			</form>
		</div>
	</div>
{% endblock %}