{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/machineDetails.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/adding.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<a href="{% url 'admin_panel:factoryDetails' factory.id %}">factory details</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			machine details
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form action="{% url 'admin_panel:updateMachine' machine.id %}" method="post">
			{% csrf_token %}
				<table>
					<tr>
						<td>name</td>
						<td><input name="name" value="{{ machine.name }}" /></td>
					</tr>
					<tr>
						<td>working places</td>
						<td><input name="workingplaces" type="number" min="1" value="{{ machine.workingplaces }}" /></td>
					</tr>
				</table>
				<br />
				<input type="submit" value="update" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<form action="{% url 'admin_panel:removeMachine' factory.id machine.id %}" method="post">
			{% csrf_token %}
				<input type="submit" value="delete" />
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>entitlements required to work on this machine</h2>
		</div>
		<div class="col-xs-12">
			<div class="row">
				{% for entitlement in machineEntitlements %}
						<div class="col-xs-6 cols-sm-4 col-md-3 tile">
							{{ entitlement.name }}
							<br />
							<form action="{% url 'admin_panel:removeEntitlementFromMachine' machine.id %}" method="post">
							{% csrf_token %}
								<input type="hidden" name="entitlement" value="{{ entitlement.id }}">
								<input type="submit" value="remove" />
							</form>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 cols-sm-4 col-md-3 tile">
			<p id="roll-adding-form-entitlement" class="roll-adding-form glyphicon glyphicon-plus"></p>
			<form action="{% url 'admin_panel:addEntitlementToMachine' machine.id %}" method="post" id="adding-form-entitlement" class="adding-form">
			{% csrf_token %}
				<select name="entitlement">
					{% for entitlement in unusedEntitlements %}
						<option value="{{ entitlement.id }}">{{ entitlement.name }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="add" />
			</form>
		</div>
	</div>
{% endblock %}