{% extends "base.html" %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'libs/jquery.cookie.min.js' %}"></script>
	<script src="{% static 'js/adding.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block content %}

	<input type="hidden" id="url-get-map" value="{% url 'admin_panel:getMap' factory.id %}" />
	<input type="hidden" id="url-add-sector" value="{% url 'admin_panel:addSector' factory.id %}" />
	<input type="hidden" id="url-get-sector" value="{% url 'admin_panel:getSector' factoryId=factory.id sectorId=0 %}" />
	<input type="hidden" id="url-delete-sector" value="{% url 'admin_panel:deleteSector' factoryId=factory.id sectorId=0 %}" />

	<div class="row">
		<div class="col-xs-12">
			<a href="{% url 'admin_panel:index' %}">home</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<a href="{% url 'admin_panel:factoryDetails' factory.id %}">factory details</a>
			<span class="glyphicon glyphicon-arrow-right"></span>
			map
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<div id="map-wrapper" class="col-xs-12">
					<div id="map-up" class="glyphicon glyphicon-arrow-up map-move"></div>
					<div id="map-right" class="glyphicon glyphicon-arrow-right map-move"></div>
					<div id="map-down" class="glyphicon glyphicon-arrow-down map-move"></div>
					<div id="map-left" class="glyphicon glyphicon-arrow-left map-move"></div>
					<canvas id="map"></canvas>
				</div>
				<div class="col-xs-12">
					<span id="zoom-in" class="glyphicon glyphicon-zoom-in zoom"></span>
					<span id="current-zoom"></span>
					<span id="zoom-out" class="glyphicon glyphicon-zoom-out zoom"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">

			<div class="row">
				<div class="col-xs-12">
					<h2>reset map</h2>
					<div class="row">
						<div class="col-xs-12 tile">
							<p id="roll-adding-form-reset" class="roll-adding-form glyphicon glyphicon-plus"></p>
							<form action="{% url 'admin_panel:resetMap' factory.id %}" method="post" id="adding-form-reset" class="adding-form">
							{% csrf_token %}
								<table>
									<tr>
										<td>width:</td>
										<td><input name="width" type="number" min="10" value="{{ width }}" /></td>
									</tr>
									<tr>
										<td>height:</td>
										<td><input name="height" type="number" min="10" value="{{ height }}" /></td>
									</tr>
								</table>
								<input type="submit" value="reset" />
							</form>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<h2>sectors</h2>
					<div class="row">
						<!--
							<div class="col-xs-4 item">
								item 1
							</div>
							<div class="col-xs-4 item">
								item 2
							</div>
							<div class="col-xs-4 item">
								item 3
							</div>
							<div class="col-xs-4 item">
								item 4
							</div>
							<div class="col-xs-4 item">
								item 5
							</div>
						-->
					</div>

					<div class="row">
						<div class="col-xs-12 tile">
							<p id="roll-adding-form-sector" class="roll-adding-form glyphicon glyphicon-plus"></p>
							<form action="" method="post" id="adding-form-sector" class="adding-form">
							<!--{% csrf_token %}-->
								<table>
									<tr>
										<td>width:</td>
										<td><input id="add-sector-width" type="number" min="1" value="1" /></td>
									</tr>
									<tr>
										<td>height:</td>
										<td><input id="add-sector-height" type="number" min="1" value="1" /></td>
									</tr>
									<tr>
										<td>machine:</td>
										<td>
											<select id="add-sector-machine">
												{% for machine in machines %}
													<option value="{{ machine.id }}">{{ machine.name }}</option>
												{% endfor %}
											</select>
										</td>
									</tr>
									<tr>
										<td>priority:</td>
										<td><input id="add-sector-priority" type="number" min="0" value="0" /></td>
									</tr>
								</table>
								<input type="button" value="add" id="sector-add-button" />
							</form>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="sector-details" class="row">
				
			</div>
		</div>
	</div>

{% endblock %}