#clock {
	width: 100px;
	height: 100px;
}

#retry-button {
	display: none;
}

#map {
	width: 600px;
	height: 600px;
	background-color: #000000;
	margin: 0 0 30px 0;
	border-style: solid;
	border-color: #000;
	border-width: 0 0 1px 1px;
}

table {
	width: 100%;
}

td {
	text-align: center;
}

li {
	text-align: left;
}