.tile {
	border: 3px solid #000;
	padding: 7px;
	border-radius: 5px;
	overflow: hidden;
}

.tile:hover {
	background-color: rgba(0, 0, 0, .3);
}

.roll-adding-form {
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.roll-adding-form:hover {
	cursor: pointer;
}

.adding-form {
	display: none;
}