#map {
	background-color: #000;
	width: 100%;
}

.item {
	height: 100px;
}

.zoom {
	cursor: pointer;
}

#current-zoom {
	width: 70px;
	display: inline-block;
	text-align: center;
}

#map-wrapper {
	position: relative;
}

#map-wrapper > .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	background-color: #000;
	padding: 5px;
	border-radius: 50px;
}

#map-wrapper > .glyphicon:hover {
	color: #F00;
}

#map-wrapper:hover > .glyphicon {
	opacity: 1;
}